@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.bungee-inline-regular {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.inter-one {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
  
  
body{
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 0;
    margin: 0;

    background-color: #020617;
    color: #FFFFFF;
}

header{
    width: 100vw;
    position: fixed;
    z-index: 10;
    background-color: #040714;
    opacity: 50%;
}

header ul{
    display: flex;
    justify-content: center;
}

header li{
    font-family: Inter;
    padding: 10px;
    list-style: none;
}

header a{
    text-decoration: none;
    color: #FFFFFF;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;

    padding-top: 100px;
    padding-bottom: 300px;

    background: radial-gradient(closest-side at 50% 50%,#252641 ,#020617);
}

.banner h1{
    font-family: "Bungee Inline";
    font-size: 72.4px;

    background: linear-gradient(to right, #FFFFFF, #9BD0F5);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

.banner h2{
    font-family: Inter;
    line-height: 72px;
    font-size: 40px;

    background: linear-gradient(to right, #FFFFFF, #9BD0F5);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

.banner button{
    width: 147.09px;
    height: 34px;
    top: 979.31px;
    left: 698.75px;
    font-family: Inter;
    border: 1px solid transparent;
    border-radius: 12px;
}

.banner button:hover{
    background-color: transparent;
    color: white;
}

.banner h6{
    font-family: "Inter";
    color: #595C68;
}


.icones{
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.escolha{

    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 100px;
    font-family: Inter;
}

.escolha span{
    color: #1e3a8a;
}

.escolha p{
    color:#FFFFFF;
    opacity: 60%;
}

.escolha button{
    width: 131.94px;
    height: 30px;
    padding: 0;
    border-radius: 16px;
    border: 1px solid #41475d;
    color: #FFFFFF;
    font-family: Inter;
    background-color: #080E43CF;
}
.escolha button:hover{
    background-color: transparent;
    color: #FFFFFF;
}
.clubes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 300px;
    flex-wrap: wrap;
    width: 100vw;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    border: 1px solid #ffffff10;
    background-color: #111827;
    font-family: Inter;
    width: 275px;
    height: 400px;

    transition-duration: 0.3s;
}
.card h2{
    padding-bottom: 40px;
    border-bottom: 1px solid white; 
}

.card li{
    list-style-image: url(icones/lista.svg);
    color: #FFFFFF99;
}
.card h5{
    align-self: flex-start;
    color: #FFFFFF99;
}
.card button{
    justify-self: flex-end;

    width: 230.85px;
    height: 34px;
    top: 452px;
    left: 41px;
    border-radius: 6px;
    border: 3px solid #41475d;
}

.card button:hover{
    background-color: #020617;
    color: white;
}

.card:hover{
    transform: scale(1.1) rotate(2deg);
}
#astronomia{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#astronomia::after{
    content: '';
    position: absolute;
    height: 102%;
    width: 103%;
    border-radius: 12px;
    background-image: linear-gradient(to bottom right, #052DFF99,#3EF3FF99);
    z-index: -1;
}

#astronomia li{
    color: #56C2FF;
    list-style-image: url(icones/lista-azul.svg);
}

.caixas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    padding-bottom: 200px;
}

.container{
    padding: 42px;
    background-color: #111827;
    font-family: Inter;
    border-radius: 12px;
    width:300px;;
    height: 300;
}

footer{
    display: flex;
    flex-direction: row;

    width: 100vw;
    padding-top: 70px;
    background-color: #0f172a;
}
.mail{
    display: flex;
    flex-direction: column;
    font-family: Inter;
    width: 500px;

    padding-left: 100px;
}
.boxes{
    display: flex;
    flex-direction: row;
}
.item{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 200px;
    padding: 20px;
}
.item h2{
    font-size: 16px;
    font-family: Inter;
}
.item li{
    list-style: none;
}
.item a{
    text-decoration: none;
    color: #595C68;
    font-family: Inter;
}
.item a:hover{
    color: white;
}



.text h1{
    font-size: 21px;
}
.text h4{
    font-size: 14px;
    color: #595C68;
}
.email h1{
    font-size: 16px;
    font-weight: 300;
    max-width: 400px;
}
.email textarea{
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 12px;
    width: 300px;
    background-color: #0f172a;
    color: gray;
}

.send-btn{
    position: relative;
}

.send-btn button{
    background-color: #595C68;
    border-radius: 1000px;
    height: 40px;
    width: 40px;
    padding: 0;
    position: absolute;
    left: 100x;
}
#contatos ul{
    list-style: none;
}
#contatos a{
    font-size: 14px;
    font-family: Inter;
    text-decoration: none;
    color: #595C68;
}
#contatos a:hover{
    color: white;
}
@media  screen and (max-width: 980px) {
    .caixas{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
    .mail{
        flex-direction: row;
    }
    .email{
        max-width: 300px;
    }
    .text{
        max-width: 800px;
        padding-right: 100px;
    }
    .boxes{
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 500px;
    }
}

@media  screen and (max-width: 798px) {
    .caixas{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
    .text{
        flex-direction: column;
    }
    .boxes{
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 500px;
    }
}

/*Sobre Nós*/

#title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-top: 200px;
    padding-bottom: 100px;
}
#title div{
    display: flex;
    gap:50px ;
}
#title h1{
    font-size: 40px;
    font-family: Bungee Inline;
    color: #c1ddfe;
}

.sobre-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sobre-container div{
    max-width: 400px;
}
;
.sobre-container div a{
    text-decoration: none;

}
.top-sobre-container{
    display: flex;
    flex-direction: row;
}
.imagens{
    width: 200px;
    padding-left: 100px;
}