@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.bungee-inline-regular {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.inter-one {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 4600;
    font-style: normal;
}
html {
    scroll-behavior:smooth;
} 
  
  
body{
    display: flex;
    flex-direction: column;


    align-items: center;
    padding: 0;
    margin: 0;

    background-color: #020617;
    color: #FFFFFF;
}

header{
    width: 100vw;
    position: fixed;
    z-index: 10;
    background-color: #040714;
    opacity: 50%;
}

header ul{
    display: flex;
    justify-content: center;
}

header li{
    font-family: Inter;
    padding: 10px;
    list-style: none;
}

header a{
    text-decoration: none;
    color: #FFFFFF;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;

    padding-top: 300px;

    background: radial-gradient(closest-side at 50% 50%,#252641 ,#020617);
}

.banner h1{
    font-family: "Bungee Inline";
    font-size: 45px;
    padding-top: 10px;
    margin: 0;

    background: linear-gradient(to right, #FFFFFF, #9BD0F5);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

.banner h2{
    font-family: Inter;
    line-height: 72px;
    font-size: 26px;
    padding: 0;
    margin: 0;

    background: linear-gradient(to right, #FFFFFF, #9BD0F5);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

.banner button{
    width: 147.09px;
    height: 34px;
    top: 979.31px;
    left: 698.75px;
    font-family: Inter;
    border: 1px solid transparent;
    border-radius: 12px;
}

.banner button:hover{
    background-color: transparent;
    color: white;
}

.banner h6{
    font-family: "Inter";
    color: #595C68;
}


.icones{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.escolha{

    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    font-family: Inter;
}

.escolha span{
    color: #1e3a8a;
    padding: 0;
}
.escolha h1{
    font-size: 20px;
    padding: 0;
}
.escolha h2{
    padding-top: 0;
    color:#FFFFFF;
    font-size: 20px;
    font-weight: 200;
    padding-left: 50px;
    padding-right: 50px;
}

.escolha button{
    width: 131.94px;
    height: 30px;
    padding: 0;
    border-radius: 16px;
    border: 1px solid #41475d;
    color: #FFFFFF;
    font-family: Inter;
    background-color: #080E43CF;
}
.escolha button:hover{
    background-color: transparent;
    color: #FFFFFF;
}
.clubes{
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

.clubes .card{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    border: 1px solid #ffffff10;
    background-color: #111827;
    font-family: Inter;
    width: 275px;
    height: 400px;

    transition-duration: 0.3s;
}
.clubes .card h2{
    padding-bottom: 40px;
    border-bottom: 1px solid white; 
}

.clubes .card li{
    list-style-image: url(icones/lista.svg);
    color: #FFFFFF99;
}
.clubes .card h5{
    align-self: flex-start;
    color: #FFFFFF99;
}
.clubes .card button{
    justify-self: flex-end;

    width: 230.85px;
    height: 34px;
    top: 452px;
    left: 41px;
    border-radius: 6px;
    border: 3px solid #41475d;
}

.clubes .card button:hover{
    background-color: #020617;
    color: white;
}

.clubes .card:hover{
    transform: scale(1.1) rotate(2deg);
}
.clubes #astronomia{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clubes #astronomia::after{
    content: '';
    position: absolute;
    height: 102%;
    width: 103%;
    border-radius: 12px;
    background-image: linear-gradient(to bottom right, #052DFF99,#3EF3FF99);
    z-index: -1;
}

.clubes #astronomia li{
    color: #56C2FF;
    list-style-image: url(icones/lista-azul.svg);
}

/*caixas*/

.caixas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.caixas .container{
    padding: 42px;
    background-color: #111827;
    font-family: Inter;
    border-radius: 12px;
    width:300px;;
    height: 300;
}

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding-top: 70px;
    background-color: #0f172a;
}
footer .mail{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    font-family: Inter;

    padding-left: 20px;
}
footer .email h1{
    font-size: 16px;
    font-weight: 300;
    max-width: 400px;
}
footer .email textarea{
    padding-top: 5px;
    padding-left: 3px;
    border-radius: 12px;
    width: 170px;
    height: 15px;
    background-color: #0f172a;
    color: gray;
    position: relative;
}
footer button{
    margin-left: 10px;
    background-color: #595C68;
    border-radius: 1000px;
    border: 1px solid gray;
    height: 30px;
    width: 30px;
    padding: 0;
    padding-top: 3px;
    position: absolute;
    left: 100x;
}
footer button:hover{
    background-color: #020617;
}

footer .boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
footer .item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 200px;
    padding: 20px;
}
footer .item h2{
    font-size: 16px;
    font-family: Inter;
}
footer .item li{
    list-style: none;
}
footer .item a{
    text-decoration: none;
    color: #595C68;
    font-family: Inter;
}
footer .item a:hover{
    color: white;
}
footer .text h1{
    font-size: 21px;
}
footer .text h4{
    font-size: 14px;
    color: #595C68;
}

#contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid white;
    padding-top: 20px;
}
footer #contatos ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
footer #contatos a{
    font-size: 14px;
    font-family: Inter;
    text-decoration: none;
    color: #595C68;
}
footer #contatos a:hover{
    color: white;
}

/*Sobre Nós*/

#title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-top: 200px;
    padding-bottom: 100px;
}
#title div{
    display: flex;
    gap:50px ;
}
#title h1{
    font-size: 40px;
    font-family: Bungee Inline;
    color: #c1ddfe;
}
.sobre{
    padding-bottom: 200px;
}
.sobre-container{
    display: flex;
    justify-content: center;
    font-family: Inter;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.sobre-container div{
    max-width: 400px;
}
.sobre-container p{
    color: #595C68;
}
.sobre-container a{
    text-decoration: none;
    color: white;
}
.top-sobre-container{
    display: flex;
    flex-direction: row;
}
.top-sobre-container img{
    padding-right: 10px;
}
.imagens{
    width: 150px;
}


@media  (min-width: 780px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header{
        flex-wrap: wrap;
    }
    footer{
        flex-direction: column;
    }
    .text{
        flex-direction: column;
    }
    .boxes{
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 500px;
    }
    footer{
        flex-direction: column;
    }
    .mail{
        justify-content: space-between;
    }

    #title{
        padding-left: px;
    }
    .sobre-container div{
        max-width: 700px;
    }
    .imagens{
        width: 200px;
        padding-left: 100px;
    }
}