@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.bungee-inline-regular {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.inter-one {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
  
  
body{
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: #020617;
    color: #FFFFFF;
}

header{
    width: 100vw;
    background-color: #040714;
}

header ul{
    display: flex;
    justify-content: center;
}

header li{
    font-family: Inter;
    padding: 10px;
    list-style: none;
}

header a{
    text-decoration: none;
    color: #FFFFFF;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;

    padding-top: 100px;
    padding-bottom: 300px;

    background: radial-gradient(closest-side at 50% 50%,#252641 ,#020617);
}

.banner h1{
    font-family: "Bungee Inline", sans-serif;
    font-size: 72.4px;

    background: linear-gradient(to right, #FFFFFF, #9BD0F5);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

.banner h2{
    font-family: Inter;
    line-height: 72px;
    font-size: 40px;

    background: linear-gradient(to right, #FFFFFF, #9BD0F5);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

.banner button{
    width: 147.09px;
    height: 34px;
    top: 979.31px;
    left: 698.75px;
    font-family: Inter;
    border: 1px solid transparent;
    border-radius: 12px;
}

.banner button:hover{
    background-color: transparent;
    color: white;
}

.banner h6{
    font-family: "Inter";
    color: #595C68;
}


.icones{
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.escolha{

    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 100px;
    font-family: Inter;
}

.escolha span{
    color: #1e3a8a;
}

.escolha p{
    color:#FFFFFF;
    opacity: 60%;
}

.escolha button{
    width: 131.94px;
    height: 30px;
    padding: 0;
    border-radius: 16px;
    border: 1px solid #41475d;
    color: #FFFFFF;
    font-family: Inter;
    background-color: #080E43CF;
}
.escolha button:hover{
    background-color: transparent;
    color: #FFFFFF;
}
.clubes{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100vw;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    border: 1px solid #ffffff10;
    background-color: #111827;
    font-family: Inter;
    width: 300px;
    height: 400px;
}
.card h2{
    display: block;
    padding-bottom: 40px;
    border-bottom: 1px solid white;
    
}

.card li{
    list-style-image: url(icones/lista.svg);
    color: #FFFFFF99;
}
.card h5{
    align-self: flex-start;
    color: #FFFFFF99;
}
.card button{
    justify-self: flex-end;

    width: 230.85px;
    height: 34px;
    top: 452px;
    left: 41px;
    border-radius: 6px;
    border: 3px solid #41475d;
}
#astronomia{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#astronomia::after{
    content: '';
    position: absolute;
    height: 102%;
    width: 103%;
    border-radius: 12px;
    background-image: linear-gradient(to bottom right, #052DFF99,#3EF3FF99);
    z-index: -1;
}

#astronomia li{
    color: #56C2FF;
    list-style-image: url(icones/lista-azul.svg);
}